---
import Layout from "../layouts/Layout.astro";
import PlaylistCard from "../components/PlaylistCard.astro";
import PlaylistContainer from "../components/PlaylistContainer.astro";
import NavigationButtons from "../components/NavigationButtons.astro";
import playlists from "../assets/playlists.json";
---

<Layout title="Spotify Clon">
	<section class="rounded overflow-auto max-w-[75%] p-6 bg-[#1F1F1F] w-full">
		<NavigationButtons back={false} next={false} />

		<section>
			<h2 class="text-2xl font-bold">Escuchado recientemente</h2>
			<PlaylistContainer>
				{playlists.map((play) => <PlaylistCard playlist={play} />)}
			</PlaylistContainer>
		</section>

		<section>
			<h2 class="text-2xl font-bold">Hecho para ti</h2>
			<PlaylistContainer>
				<PlaylistCard />
				<PlaylistCard />
				<PlaylistCard />
				<PlaylistCard />
			</PlaylistContainer>
		</section>
	</section>
</Layout>
