---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Spotify">
	<section class="flex justify-center rounded bg-[#1F1F1F] w-full items-center">
		<h2>Listas de reproduccion etc...</h2>
	</section>
</Layout>

