---
import NavigationButtons from "../components/NavigationButtons.astro";
import Layout from "../layouts/Layout.astro";

---

<Layout title="Playlist Example">
  <section class="rounded overflow-auto max-w-[75%] p-6 bg-[#1F1F1F] w-full">
    <NavigationButtons back="/" />
		<h2 class="text-2xl font-bold">Tus me gusta</h2>				    
	</section>
</Layout>