---
import Icon from "astro-icon";
import PlaylistOption from "./PlaylistOption.astro";
import playlists from "../assets/playlists.json";
---

<aside class="flex w-1/3 h-full max-h-full max-w-[25%] flex-col gap-2">
  <section class="bg-[#121212] rounded p-4 flex flex-col">
    <a href="/">
      <div
        class="hover:opacity-100 transition-all p-2 gap-3 cursor-pointer opacity-75 text-md flex items-center"
      >
        <Icon name="octicon:home-24" width="30" />
        <h3>Inicio</h3>
      </div>
    </a>
    <a href="#">
      <div
        class="hover:opacity-100 transition-all p-2 gap-3 cursor-pointer opacity-75 text-md flex items-center"
      >
        <Icon name="iconoir:search" width="30" />
        <h3>Buscar</h3>
      </div>
    </a>
  </section>
  <section class="p-4 overflow-hidden rounded h-full max-h-full bg-[#121212]">
    <header class="shadow-2xl max-h-[14%] h-full flex flex-col">
      <div class="flex items-center opacity-75 justify-between">
        <div class="flex gap-2 items-center">
          <Icon name="icomoon-free:books" width="30" />
          <h3>Tu biblioteca</h3>
        </div>
        <div class="flex gap-3">
          <Icon name="ic:baseline-plus" width="30" />
          <Icon name="ep:right" width="30" />
        </div>
      </div>
      <div class="flex mt-5 text-[0.8rem] gap-2">
        <h3 class="p-2 bg-[#232323] rounded-full">Playlist</h3>
        <h3 class="p-2 bg-[#232323] rounded-full">Artistas</h3>
      </div>
    </header>
    <div class="flex playlist overflow-auto max-h-[86%] h-full flex-col gap-3">
      {playlists.map((playlist) => <PlaylistOption playlist={playlist} />)}
    </div>
  </section>
</aside>
