---
import { Image } from "astro:assets";
import LikedSong from "../assets/liked-songs-640.png";
---

<article class="cursor-pointer flex gap-4">
  <Image
    width={48}
    class="rounded"
    src={LikedSong}
    alt="likedsong"
  />
  <div>
    <h2 class="text-md">Tus me gusta</h2>
    <small class="opacity-75">Playlist - 128 canciones</small>
  </div>
</article>