---
import PlaylistOption from "../components/PlaylistOption.astro";
import AsideApp from "../components/AsideApp.astro";
import { ViewTransitions } from "astro:transitions";
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ViewTransitions />
	</head>
	<body>
		<main class="flex gap-2 p-2 w-full h-screen max-h-screen">
			<AsideApp />
			<slot transition:animate="slide"/>
		</main>
	</body>
</html>

<style is:global>
	@font-face {
		font-family: "Monserrat spo";
		src: url("../fonts/static/Montserrat-medium.ttf"),
			url("../fonts/static/Montserrat-Regular.ttf"),
			url("../fonts/static/Montserrat-Medium.ttf");
	}

	* {
		padding: 0;
		margin: 0;
	}

	body {
		font-family: "Monserrat spo", sans-serif;
		background-color: black;
		color: white;
	}

	*::-webkit-scrollbar {
		-webkit-appearance: none;		
	}

	*::-webkit-scrollbar:vertical {
		width: 8px;
	}

	*::-webkit-scrollbar-button:increment,
	*::-webkit-scrollbar-button {
		display: none;
	}

	*::-webkit-scrollbar:horizontal {		
		height: 8px;
	}

	*::-webkit-scrollbar-thumb {
		background-color: #797979;
		border-radius: 10px;
	}

	*::-webkit-scrollbar-track {
		border-radius: 10px;
	}
</style>
